# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Vector database
chroma_db/

# PDF files
*.pdf

# Log files
*.log

# OS specific files
.DS_Store
Thumbs.db 